.mySkills{
    padding-top:30px;
    background-color: rgb(26, 26, 26);
    color: white;
    height: 100%;
}
.progress-ring__circle {
    stroke-dasharray: 82%;
}
.mySkillsTitle{
    text-align: center;
}
.mySkillsTitle>h1{
    font-size: 25px;
}
.mySkillsSkill{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}
.mySkillsSvg>p{
    text-align: center;
    font-size: 20px;
}