.home{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(70deg, #fdcd3b 30%, #202020 30%);   
    color: white; 
}

@media only screen and (max-width: 770px){
    .home{
        background: linear-gradient(70deg, #000000 30%, #000000 30%); 
        height: 110vh;
    }
    .homeSidebar{
        display: none;
    }
}